# Maven Build Artifacts
**/target/
**/*.jar
**/*.war

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Environment variables
.env
.env.*

# Terraform state and vars
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!**/dev.tfvars
*tfplan

# Front-End (Angular)
Front-End/node_modules/
Front-End/dist/
Front-End/.angular/
